
fieldset, label { margin: 0px; padding: 8px; }
body{ margin: 20px; }
h1 { font-size: 1.5em; margin: 10px; }


.rating { 
  border: none;
  float: left;
  width: 230px;
  margin-left: 0px
}

.rating label {

  float: right;
  position: relative;
  color: #FFBA10;
  font-size: 200%;

}.rating i:last-child {
  display: none;
}

.rating input:checked ~ label i:last-child,
.rating input:checked + label i:last-child,
.rating label:hover ~ label i:last-child,
.rating label:hover i:last-child {
  display: inline;
}

.rating input:checked ~ label i:first-child,
.rating input:checked + label i:first-child,
.rating label:hover ~ label i:first-child,
.rating label:hover i:first-child {
  display: none;
}


.rating input {
  display: none;
  position: relative;
}

.comment{
  position: absolute  ;
  top: 50px;
}

.submit{
  position: absolute;
  top: 200px;
}

.jumbotron{
  height: 1000px;
}