version: '3.5'
services: 

  api:
    container_name: review_api
    restart: always
    build:
      context: .
      dockerfile: Dockerfile
      labels: 
        com.reviews.api: "Reviews API"
    depends_on: 
      - mysql
    ports:
      - "4500:80" # Exposes the internal port 80 to external port 4500, remove external port in production.
    networks:
      - backend
    links: 
       - mysql:dbserver
    command: flask run -h 0.0.0.0 -p 80

  mysql:
    container_name: review_mysql
    build:
      context: .
      dockerfile: Dockerfile-db
    command: --default-authentication-plugin=mysql_native_password
    environment:
      MYSQL_DATABASE: ${DB_DATABASE}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PSWRD}
    ports:
      - "3306:3306"
    networks: 
      - backend

networks:
  backend:
    driver: bridge
    name: backend_net