version: '3'
services: 

  app: 
    container_name: review_api
    restart: always
    build:
      context: .
      dockerfile: Dockerfile
    depends_on: 
      - mysql
    ports:
      - 4500:80
    links:
      - mysql:mysql
    command: flask run --host=0.0.0.0 --port=80

  mysql:
    container_name: mysql
    image: mysql/mysql-server:latest
    build:
      context: .
      dockerfile: Dockerfile-db
    command: --default-authentication-plugin=mysql_native_password
    environment:
      MYSQL_DATABASE: ${DB_DATABASE}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PSWRD}
    ports:
      - 3306:3306