<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Order history</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="{{url_for('static' , filename='css/reviews.css')}}">
</head>
<body>
        {% with messages = get_flashed_messages(with_categories=True) %}
    {% if messages %}
    <ul class="alert">
        {% for category, message in messages %}
        <li class="alert alert-{{category}}">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <h1>Listing previous orders</h1>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th>Order ID</th>
            </tr>
        </thead>
        <tbody>
            {% for order in previous_orders %}
            <tr>
                <td>
                    <button class="dropbtn" id="dropbtn-{{ loop.index }}">{{order.OrderID}}</button></td>
                </td>
            </tr>
            
            <tr>
                <td id="myDropdown-{{ loop.index }}" class="dropdown-content">
                        {% for meal in order.meals %}
                        <a href={{url_for('reviews.show_form', meal_id=meal.CourseID)}}>{{meal.CourseID}} - {{meal.CourseName}}</a>
                        {% endfor %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
</table>
            
</body>
<script src="{{ url_for('static', filename='js/reviews.js') }}"></script>
</html>