<html>
<head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="{{url_for('static' , filename='css/reviews.css')}}">
    <title>Reviews</title>
<style>
</style>
</head>
<body>
    <div class="jumbotron">
        <h1 class="display-4">Review {{review.id}}</h1>

        <img id="mealPic" src="../static/images/fisk.jpg" height="250px" width="250px">
        <form class="col-md-4" method="POST">
            <div class="rating">
                {% for button in form.rating %}
                    
                    {{ button }} {{ button.label }}
                    
                {% endfor %}
            </div><br>

            <div class="comment">
                {%if form.errors %}
                <ul class="alert alert-danger">
                    {%for field in form.errors%}
                        {%for error in form.errors[field] %}
                            <li>{{error}}</li>
                        {%endfor%}
                    {%endfor%}
                </ul>
                {%endif%}
                {{form.comments.label}} <br>
                {{form.comments}}
            </div> <br>
            <div class="submit">
                {{form.submit}}
            </div>
        </form>
    </div>
</body>
</html>